<div  id="displayDiv">
    <div  id="peopleCard" *ngIf="data.mass !== undefined">
        <h3 >{{name}}</h3>
        <hr >
        <p >height: {{height}} </p>
        <p >mass: {{mass}} </p>
        <p >hair color: {{hair_color}} </p>
        <p >skin color: {{skin_color}} </p>
        <p >eye color: {{eye_color}}  </p>
        <p >birth year: {{birth_year}}  </p>
        <p >gender: {{gender}}  </p>
        <p >homeworld: {{homeworld}}</p>
    </div>

    <div  id="filmCard" *ngIf="data.title !== undefined">
        <h3 >{{title}} </h3>
        <hr >
        <p >Episode Id: {{episode_id}} </p>
        <p >Opening Crawl: {{opening_crawl}} </p>
        <p >Director: {{director}} </p>
        <p >Producer: {{producer}} </p>
        <p >Release date: {{release_date}} </p>
        <p ></p>
    </div>

    <div  id="shipCard" *ngIf="data.passengers !== undefined">
        <h3 >{{ship_name}}</h3>
        <hr >
        <p >Model: {{model}}  </p>
        <p >Cost in credits: {{cost_in_credits}} </p>
        <p >Length: {{length}} </p>
        <p >Max atmospheric speed: {{max_atmospheric_speed}} </p>
        <p >Crew: {{crew}} </p>
        <p > Passengers: {{passengers}} </p>
        <p >Cargo capacity: {{cargo_capacity}} </p>
        <p >Consumables: {{consumables}}  </p>
        <p >Hyperdrive rating: {{hyperdrive_rating}} </p>
        <p >mglt: {{mglt}} </p>
    </div>
</div>