/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --primary: #ffe300;
    --primary-dark: #ffd900;
}

body {
    font-size: 1.2em;
    background-image: url('./assets/space_bg.png');
    background-repeat: repeat;
}